{
  log {
    format console {
      level_format lower
    }
  }
}

(porkbun-tls) {
  tls {
    # TODO: Figure out how to solve the challenge without disconnecting my VPN for the DNS resolver.
    dns porkbun {
      api_key {env.PORKBUN_API_KEY}
      api_secret_key {env.PORKBUN_SECRET_KEY}
    }
  }
}

# Host-independent

navidrome.home.kyleerhabor.com, navidrome.mbp2019.home.kyleerhabor.com {
  import porkbun-tls
  reverse_proxy localhost:4533
}

komga.home.kyleerhabor.com, komga.mbp2019.home.kyleerhabor.com {
  import porkbun-tls
  reverse_proxy localhost:25600
}

# Host-dependent

vite.mbp2019.home.kyleerhabor.com {
  import porkbun-tls
  reverse_proxy localhost:5173
}
