{
  log {
    format console {
      level_format lower
    }
  }

  # For some reason, HTTP/2 throughput with my iPhone is ~0.2 MB/s, whereas HTTP/1.1 is ~1 MB/s. I presume this is
  # because RTT being large (~8 ms) and the window size being small (64 kB) results in a lot of flow control. I'm not
  # sure where the remaining slowdown comes from, but I suspect it's overhead from Tailscale and WireGuard.
  servers {
    protocols h1
  }
}

(porkbun-tls) {
  tls {
    # TODO: Figure out how to solve the challenge without disconnecting my VPN for the DNS resolver.
    dns porkbun {
      api_key {env.PORKBUN_API_KEY}
      api_secret_key {env.PORKBUN_SECRET_KEY}
    }
  }
}

# Host-independent

navidrome.home.kyleerhabor.com, navidrome.mbp2019.home.kyleerhabor.com {
  import porkbun-tls
  reverse_proxy localhost:4533
}

komga.home.kyleerhabor.com, komga.mbp2019.home.kyleerhabor.com {
  import porkbun-tls
  reverse_proxy localhost:25600
}

# Host-dependent

vite.mbp2019.home.kyleerhabor.com {
  import porkbun-tls
  reverse_proxy localhost:5173
}
