{
  log {
    format console {
      level_format lower
    }
  }
}

*.mbp2019.home.kyleerhabor.com {
  tls {
    dns porkbun {
      api_key {env.PORKBUN_API_KEY}
      api_secret_key {env.PORKBUN_SECRET_KEY}
    }
  }

  @navidrome host navidrome.mbp2019.home.kyleerhabor.com
  handle @navidrome {
    reverse_proxy localhost:4533
  }

  @vite host vite.mbp2019.home.kyleerhabor.com
  handle @vite {
    reverse_proxy localhost:5173
  }

  @komga host komga.mbp2019.home.kyleerhabor.com
  handle @komga {
    reverse_proxy localhost:25600
  }

  handle {
    abort
  }
}
